*::-webkit-scrollbar {
    width: 3px;
  }
  *::-webkit-scrollbar-button {
    display: none;
  }
  *::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background: var(--Brand-60, #326DEF);
    border-radius: 10px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: var(--Brand-80, #1E51C2);
  }
