.input-place {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 200px;
    height: 45px;
  }

  .delete-Button{
    size:"small";
     width:'30px';
     height:'34px';
     color:"#F6F7F9";
  }
/* 
  .isActive-button{ 
      border-radius: '68.31px';
      background-color: user?.isActive?  '#DAF8E6' : '#E5E7EB';
      color:user?.isActive? '#1A8245':'#374151';
      width: 97px;
      height: 39px; 
      paddingTop: '4.1px'; 
      paddingRight: '20.49px';
      paddingBottom: '4.1px';
      paddingLeft: '20.49px';
      gap: '1.37px'
  } */
 