.input-place {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 200px;
  height: 45px;
}

.delete-Button {
  size: "small";
  width: '30px';
  height: '34px';
  color: "#F6F7F9";
}

.isActive-button {

  /* background-color: user?.isActive?  '#DAF8E6' : '#E5E7EB';
      color:user?.isActive? '#1A8245':'#374151'; */

  width: 97px;
  height: 39px;
  padding-top: '4.1px';
  padding-right: '20.49px';
  padding-bottom: '4.1px';
  padding-left: '20.49px';
  gap: '1.37px'
}

.box-size {
  width: 1496;
  height: 782;
  top: 300;
  left: 63;
  padding-top: 8;
  padding-right: 8;
  padding-left: 8;
  gap: 24;
}

