.room-table-container {
  flex: 1;
  overflow: hidden;
  max-height: calc(100vh - 140px); 
}

.room-table-paper {
  padding: 12px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #DCE2ECCC;
 margin-left: 60px;
 margin-right: 60px;
}

.room-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.room-table thead .room-header {
  background-color: #F6F7F9;
  color: rgba(57, 57, 57, 0.8);
  font-weight: bold;
  height: 36px;
  font-size: 14px;
  text-align: center;
  border-width: 0 0 1px 0.4px;
  border-style: solid;
  border-color: #C6C6C6;
  font-family: 'Rubik', sans-serif;
}


.room-table .time-cell {
  height: 24px;
  padding: 6px 4px;
  font-size: 13px;
  font-weight: 600;
  color: rgba(57, 57, 57, 0.8); 
  border-bottom: 1px solid #C6C6C6;
  text-align: center;
 font-family: 'Rubik', sans-serif;
  white-space: nowrap;   
  overflow: visible;         
  text-overflow: unset;      

}


.room-table tbody tr {
  height: 28px;
  max-height: 28px;
}

.room-table tbody tr:hover {
  background-color: #e0f7fa;
}

.room-table .room-cell {
  padding: 2px;
  height: 28px;
  text-align: center;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap; 
}

.meeting-box {
  position: relative;
  border-radius: 6px;
  padding: 4px 6px;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--meeting-bg-color);
  overflow: hidden;
}

.meeting-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: var(--meeting-color);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.meeting-title {
  padding-right: 8px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;       
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
  text-align: right;
  text-transform: capitalize;
  white-space: nowrap;
  margin-bottom: 2px;
}

.meeting-subtitle {
  padding-right: 8px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;  
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  text-align: right;
  text-transform: capitalize;
  white-space: nowrap;
  color: #555;
}

.highlight-row {
  background-color: #FAFCFF;
}

.room-cell.no-right-border {
  border-right: none !important;
}
.no-meetings-alert {
  background-color: #fff3cd;
  color: #856404;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #ffeeba;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
