.updateUser-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  direction: rtl;
}

.updateUser-container form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 800px;
}

.MuiTypography-root {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: right;
}

.MuiTextField-root {
  width: 100%;
}

.MuiInputBase-root {
  height: 56px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.MuiInputBase-input,
.MuiSelect-select {
  direction: rtl;
  text-align: right;
  padding-bottom: 6px;
}

.MuiFormHelperText-root {
  text-align: right;
  direction: rtl;
  font-size: 0.8rem;
  color: red;
}

.MuiMenuItem-root {
  direction: rtl;
  text-align: right;
}
