.modal-container {
    width: 728px;
    height: 339px;
    padding: 40px;
    border-radius: 10px;
    background: white;
  }
  
  .modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 20px;
  }
  