.table {
    width: 100%;
    /* מגדיר את הרוחב של הטבלה ל-100% */
    height: 100%;
    /* מגדיר את הגובה של הטבלה ל-100% */
    border-collapse: collapse;
    /* מאחד את הגבולות של התאים */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1482px;
    height: 860px;
    display: block;
    table-layout: auto;
  
  }
  .tablesize{
    Height:100%;
    width: 100%;
    margin: "auto";
     padding-top: 30px;
     padding-right:20px;
     padding-bottom:10px;
     padding-left:20px;
  }
  

  
   .bigtable{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 16px !important;
    width: 1442px !important;
    height: 79px !important;
  
  }

  .buttonActive{
    


  }
  

  