.course-container {
    width: 90%;
    margin: auto;
    margin-top: 24px;
    direction: rtl;
  }
  
  .course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .course-title {
  
    font-size: 40px !important;
    font-weight: 700px;
    font-family: "Rubik"!important; 
    /* , sans-serif */
    font-style: normal;
    line-height: normal;
    color: var(--Brand-90, #0D1783)!important;
    text-align: right;
    text-transform: capitalize;
    font-weight: bold !important;
    
  }
  
  .course-status {
    font-size: 14px;
    color: gray;
  }
  
  .course-actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .add-topic-btn {
    font-size: 14px !important;
    font-weight: bold !important;
    border-radius: 25px !important;
    padding: 8px 16px !important;
    gap: 8px !important;
  }
  
  .course-tabs {
   
    margin-top: 16px;
  }
  
  .course-tab {
    font-weight: bold !important;
  }
  